<nav id="main-menu">
    <div class="container">
        <ul>
            {% if page.layout == 'single-page' %}
            
                {% for link in site.navigation %}
                    <li class="{{ link.text | downcase }} {% if forloop.first %}first{% endif %}{% if page.url == link.url %} active{% endif %}{% if forloop.last %} last{% endif %}">
                        <a href="{{ site.BASE_PATH }}#{{ link.url }}" data-scrollto="{{ link.url }}"><span>{{ link.text }}</span></a>
                    </li>
                {% endfor %}

            {% elsif page.layout == 'blog-post' %}
                
                {% for link in site.navigation %}
                    <li class="{{ link.text | downcase }} {% if forloop.first %}first{% endif %}{% if link.text == 'Blog' %} active{% endif %}{% if forloop.last %} last{% endif %}">
                        <a href="{{ site.BASE_PATH }}#{{ link.url }}" data-scrollto="{{ link.url }}"><span>{{ link.text }}</span></a>
                    </li>
                {% endfor %}

            {% endif %}
        </ul>
    </div>
</nav>
