@import "lib/variables"; // Modify this for custom colors, font-sizes, etc
@import "lib/mixins";

// CSS Reset
@import "lib/reset";

// Grid system and page structure
@import "lib/scaffolding";
@import "lib/grid";
@import "lib/layouts";

body {
    background: url(../img/background.jpg) repeat top left;
}

html, body {
    height: 100%;
}

#main-menu {
    padding: 10px 0 3px 0;
    float: none;

    ul { margin: 0; padding: 0; }
    ul li { list-style-type: none; text-align: center; height: 45px; }
    li a { display: block; height: 35px; width: 100%; }
}

#logo {
    height: 330px;
    background: url(../img/logo.png) bottom left no-repeat;
    margin-bottom: 10px;
}

.active {
    text-decoration: underline;
}

#home a { background: url(../img/menu/home.png) top center no-repeat; }
#portfolio a { background: url(../img/menu/portfolio.png) top center no-repeat; }
#blog a { background: url(../img/menu/blog.png) top center no-repeat; }
#contact a { background: url(../img/menu/contact.png) top center no-repeat; }

#home a span, #portfolio a span, #blog a span, #contact a span {
    position: absolute; top: -999em;
}

#home a:hover, #portfolio a:hover, #blog a:hover, #contact a:hover {
    background-position: center -35px;
}

hr { border: none; background: url("../img/separator.png") repeat-x; height: 5px; margin: 0; clear: both; }
