@import "lib/variables"; // Modify this for custom colors, font-sizes, etc
@import "lib/mixins";

// CSS Reset
@import "lib/reset";

// Grid system and page structure
@import "lib/scaffolding";
@import "lib/grid";
@import "lib/layouts";

body {
    background: url(../img/background.jpg) repeat top left;
    color: white; font-size: 110%; font-family: 'Lato', sans-serif, 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: lighter; line-height: 120%;
}

html, body {
    height: 100%;
}

h1 {
    font-size: 2em; font-weight: lighter; line-height: 120%; margin: 0; padding: 0;
}

#main-menu {
    padding: 10px 0 3px 0;
    float: none;

    ul { margin: 0; padding: 0; }
    ul li { list-style-type: none; text-align: center; height: 45px; margin-left: 0; width: 25%; }
    li a { display: block; height: 35px; width: 100%; }
}

#logo, #header-map {
    height: 330px;
}

#logo {
    background: url(../img/logo.png) bottom left no-repeat;
    margin-bottom: 10px;
}

.active {
    text-decoration: underline;
}

.home {
    background: url(../img/menu/icon_home.png) no-repeat 40px 0;
    a { background: url(../img/menu/home.png) top center no-repeat; }
}
.portfolio {
    background: url(../img/menu/icon_portfolio.png) no-repeat 4px 0;
    a { background: url(../img/menu/portfolio.png) top center no-repeat; }
}
.blog {
    background: url(../img/menu/icon_blog.png) no-repeat 42px 0;
    a { background: url(../img/menu/blog.png) top center no-repeat; }
}
.contact {
    background: url(../img/menu/icon_contact.png) no-repeat 16px 0;
    a { background: url(../img/menu/contact.png) top center no-repeat; }
}

.home a span, .portfolio a span, .blog a span, .contact a span {
    position: absolute; top: -999em;
}

.home a:hover, .portfolio a:hover, .blog a:hover, .contact a:hover {
    background-position: center -35px;
}

hr { border: none; background: url("../img/separator.png") repeat-x; height: 5px; margin: 0; clear: both; }

#home, #portfolio, #blog, #contact { overflow: auto; padding: 20px 0; }

#home { background-color: #333745; background: url(../img/backgrounds/cubes.png) top left repeat; color: #3E3E3E; }
#portfolio { background-color: #77C4D3; background: url(../img/backgrounds/carbon_fibre_trans.png) top left repeat; }
#blog { background-color: #DAEDE2; background: url(../img/backgrounds/rainbow.jpg) top left no-repeat; background-size: 100%; }
#contact { background-color: #EA2E49; background: url(../img/backgrounds/light_wool.png) top left repeat; color: #3E3E3E; }
