---
layout: blog-post
---

<section id="blog-post">

    <div class="container">
         <div class="article-navigation">
            {% for item in site.categories.articles limit:40 offset:0 %}
                <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}"></a>
            {% endfor %}
        </div>

        <div class="intro">
            <div class="title">{{page.title}}</div>
            <div class="abstract">{{page.abstract}}</div>
            <div class="meta"> Posted by <a href="http://twitter.com/{{page.author_twitter}}">{{page.author}}</a> on {{ page.date | date: "%B %d, %Y" }} </div>
        </div>

        <div class="article-wrapper">
            <div class="help post-content">

                {{ content }}

            </div>
        </div>


        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'geografisch';
            var disqus_developer = 1; // developer mode is on

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        <a href="http://disqus.com/">Powered by Disqus</a>

    </div>

</section>

